<header>
  <div class="row justify-content-center bg-nav">
    <div class="col-lg-3 centrar">
      <a href="/">
        <img class="logo" src="/images/logo.png " alt="" />
      </a>
    </div>
    <div class="col-lg-6 centrar">
      <p class="titulo">SISTEMA DE VENTAS</p>
    </div>
    <div class="row col-lg-3 centrar">
      <div class="col-lg-8">
        <p class="texto-usuario">
          USUARIO: <span id="user_main">UsuarioX</span>
        </p>
      </div>
      <div class="col-lg-4">
        <a href="/"><img class="logout" src="/images/logout.png" alt="" /></a>
      </div>
    </div>
  </div>

  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid page-navbar">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" class="logo" alt="photo of company" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Política de la empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Iniciar / Cerrar Jornada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quienes somos?</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ventas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Historial de ventas</a></li>
              <li><a class="dropdown-item" href="#">Detalle de Venta</a></li>
              <li><a class="dropdown-item" href="#">Iniciar Venta</a></li>
              <li><a class="dropdown-item" href="#">Reporte de venta</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <a href="/">
          <img src="/images/logout.png" alt="icon of logout" class="logout">
        </a>
      </div>
    </div>
  </nav> -->
</header>
