<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="row justify-content-center bg-nav">
      <div class="col-lg-3 centrar"><a href="index.html"> <img class="logo" src="img/logo.png " alt=""></a></div>
      <div class="col-lg-6 centrar">
        <p class="titulo">SISTEMA DE VENTAS</p>
      </div>
      <div class="row col-lg-3 centrar">
        <div class="col-lg-8">
          <p class="texto-usuario">USUARIO: <span id="user_main">UsuarioX</span></p>
        </div>
        <div class="col-lg-4">
          <a href="index.html"><img class="logout" src="img/logout.png" alt=""></a>
        </div>
      </div>
    </div>
  </header>




  <main>


    <div class="contenedor-cuad">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
          <a href="/historialventa">
            <p class="texto-cuadro">Historial de ventas</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
          <a href="detalleventa.html">
            <p class="texto-cuadro">Ver detalle de una venta</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
          <a href="iniciarventa.html">
            <p class="texto-cuadro">Iniciar venta</p>
          </a>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
          <a href="usuarios.html">
            <p class="texto-cuadro">Lista de usuarios</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
          <a href="productos.html">
            <p class="texto-cuadro">Lista de productos</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
          <a href="categorias.html">
            <p class="texto-cuadro">Categoria de productos</p>
          </a>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="col-12 cuadros-xs">
            <a href="politicas.html">
              <p class="texto-cuadro-xs">Politicas de la empresa</p>
            </a>
          </div>
          <div class="col-12 cuadros-xs">
            <a href="quiensomos.html">
              <p class="texto-cuadro-xs">Quienes somos</p>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
          <a href="reporteventas.html">
            <p class="texto-cuadro">Reporte de ventas</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
          <p class="texto-cuadro">Iniciar/cerrar jornada</p>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>