<div class="contenedor-cuad">
  <div class="row justify-content-between">
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
      <a href="/historialventa">
        <p class="texto-cuadro">Historial de ventas</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
      <a href="detalleventa.html">
        <p class="texto-cuadro">Ver detalle de una venta</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
      <a href="iniciarventa.html">
        <p class="texto-cuadro">Iniciar venta</p>
      </a>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
      <a href="usuarios.html">
        <p class="texto-cuadro">Lista de usuarios</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
      <a href="productos.html">
        <p class="texto-cuadro">Lista de productos</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
      <a href="categorias.html">
        <p class="texto-cuadro">Categoria de productos</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="col-12 cuadros-xs">
        <a href="politicas.html">
          <p class="texto-cuadro-xs">Politicas de la empresa</p>
        </a>
      </div>
      <div class="col-12 cuadros-xs">
        <a href="quiensomos.html">
          <p class="texto-cuadro-xs">Quienes somos</p>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 cuadros-2">
      <a href="reporteventas.html">
        <p class="texto-cuadro">Reporte de ventas</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cuadros">
      <p class="texto-cuadro">Iniciar/cerrar jornada</p>
    </div>
  </div>
</div>
<script src="/javascripts/principal.js"></script>
