/*--------------------------------GLOBALES-----------------------------------------*/
:root {
  --fuentePrincipal: "Inter", sans-serif;
  --fuenteSecundaria: "Montserrat", serif;

  --primario: #FF7A00;
  --secundario: #ffbb80;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #bfbfbf;
}

body,
html {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--fuentePrincipal);
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*----------------------------------------BTN-SUPERIOR-------------------------------------*/
.flecha-izq {
  width: 50px;
  margin-top: 5px;
}

.btn-superior {
  background-color: var(--primario);
  width: 400px;
  margin-bottom: 30px;
  border-radius: 50px;
}

.titulo-btn-superior {
  font-weight: 700;
  margin-top: 15px;
  font-size: 20px;
}


/*--------------------------------------HEADER------------------------------------------*/

header {
  background-color: var(--primario);
  height: auto;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 10px;
}

.titulo {
  font-family: var(--fuentePrincipal);
  font-weight: 700;
  padding-top: 10px;
  font-size: 40px;
  margin: 10px;
}

.logout {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.centrar {
  text-align: center;
  align-items: center;
}

.texto-usuario {
  font-weight: 700;
}

/*----------------------------------MAIN-LOGIN---------------------------------------*/

.bg-gris {
  background-color: var(--gris);
  padding: 40px 50px;
  border-radius: 20px;
  width: 1000px;
  height: 600px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
}

.titulo-login {
  font-family: var(--fuentePrincipal);
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 50px;
}

.icon-login {
  width: 24px;
  height: 24px;
}

.btn-login {
  padding: 0.5em 2em;
  margin-top: 70px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #666;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.btn-login:hover {
  background-color: var(--primario);
  box-shadow: 0px 15px 20px var(--negro);
  color: #fff;
  transform: translateY(-5px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.text-center {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form-label {
  font-size: 30px;
  font-weight: bold;
}

.margin-recuadros-usuarios {
  margin-top: 80px;
}

/*------------------------PANTALLA PRINCIPAL DEL SISTEMA---------------------------*/

.cuadros {
  background-color: var(--primario);
  border-radius: 20px;
  border: 20px;
  text-align: center;
  margin: 20px;
  width: 30%;
  height: 200px;
}

.cuadros-2 {
  background-color: var(--gris);
  border-radius: 20px;
  border: 20px;
  text-align: center;
  margin: 20px;
  width: 30%;
  height: 200px;
}

.contenedor-cuad {
  max-width: 90%;
  margin: auto;
}

.texto-cuadro {
  color: var(--blanco);
  font-size: 50px;
  padding: 8%;
  font-weight: 500;
}

.cuadros-xs {
  background-color: var(--primario);
  border-radius: 20px;
  border: 20px;
  text-align: center;
  margin: 20px;
  height: 90px;
  width: 93%;
}

.texto-cuadro-xs {
  color: var(--blanco);
  font-size: 40px;
  padding: 10px;
  font-weight: 500;
}

/*-----------------------------INICIAR UNA VENTA----------------------------------*/


.user-info {
  display: flex;
  align-items: center;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
}


.content {
  display: flex;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-button {
  width: 140px;
  height: 100px;
  border-radius: 20px;
  background-color: var(--primario);
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-btn-sidebar {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.icon-trash {
  width: 30px;
  height: 30px;
}

.tabla-columna-principal {
  background-color: gray;
  text-align: center;
}

.tabla-info-productos {
  background-color: var(--gris);
  height: 40px;
}

.columna-icon-trash {
  width: 30px;
  text-align: center;
}

.txt-btn-sidebar {
  color: var(--negro);
  font-weight: 700;
}

.icon-lupa {
  width: 25px;
  height: 25px;
  border: none;
}

.main-content {
  flex-grow: 1;
  background-color: var(--secundario);
  padding: 20px;
  border-radius: 5px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 3px solid #000;
  padding: 5px;
  text-align: left;
}

.totals {
  margin-top: 20px;
}

.create-sale {
  background-color: var(--gris);
  color: gray;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.cuadro-datos-venta {
  background-color: var(--primario);
  margin-top: 30px;
}

.texto-datos-venta {
  font-weight: 700;
  font-size: 20px;
}

.texto-btn-crearventa {
  color: var(--blanco);
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
}

.img-icon-money {
  width: 140px;
  height: 140px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #FF6F00;
  margin: 15% auto;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  border: 3px solid #0066CC;
}

.modal-header {
  background-color: #E0E0E0;
  padding: 10px;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.modal-header h2 {
  margin: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.modal-body {
  padding: 15px;
}

.item-list {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #E0E0E0;
  border-bottom: 1px solid #ccc;
}

.item:nth-child(odd) {
  background-color: #D3D3D3;
}

.add-icon {
  color: #4CAF50;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
}

.close-btn {
  background-color: #E0E0E0;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.close-btn:hover {
  background-color: #D3D3D3;
}

/*-----------------------------------POLITICAS DE LA EMPRESA--------------------------------*/


.contenido-politica {
  font-size: 16px;
  color: #555;
}

.contenido-politica h2 {
  font-size: 24px;
  color: #333;
}

.contenido-politica p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.contenido-politica .list-group-item {
  font-size: 16px;
  color: #555;
  border: none;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

/*---------------------------------------QUIENES SOMOS-------------------------------------*/

.titulo-nosot {
  font-weight: 900;
  font-size: 70px;
  margin-top: 70px;
}

.texto-nosotros {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/*--------------------------------------VER DETALLE DE UNA VENTA---------------------------------*/

.contenido-detalle-venta {
  background-color: var(--secundario);
  height: auto;
}

.texto-buscador {
  font-weight: 700;
  font-size: 20px;
  margin-top: -10px;
}

.texto-informacion-venta {
  font-weight: 700;
  font-size: 20px;
  margin-top: 25px;
}

.contenedor-busqueda {
  margin-top: 10px;
}

.contenedor-datos-venta {
  background-color: var(--primario);
  padding: 30px;
  margin: 30px;
}

.texto-detalles-venta-post {
  font-weight: 700;
  font-size: 20px;
}

.contenedor-total-venta {
  margin-top: 100px;
}

.icon-pdf {
  width: 300px;
  height: 300px;
}

.texto-generar-pdf {
  color: var(--negro);
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

/*----------------------------------------HISTORIAL DE VENTAS--------------------------------------*/

.texto-informacion-venta-parte1 {
  margin-top: 15px;
}

.texto-buscar-historial {
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  text-align: end;
}

.input-texto-historial-busqueda {
  margin-top: 20px;
}

.contenedor-tabla-historial {
  background-color: var(--primario);
  padding: 30px;
  margin: 30px;
  height: 600px;
}

/*-----------------------------------------REPORTE DE VENTAS------------------------------------------*/
#seleccion-tipo-reporte {
  margin-top: 20px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin-left: -80px;
}

.bloque-datos-reportes {
  background-color: var(--gris);
  margin-left: 30px;
  height: 700px;
}

.titulo-cuadro-datos-reporte {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.texto-datos-recuadro-reporte {
  font-weight: 700;
  font-size: 20px;
}

.boton-pdf-generar {
  margin-top: 200px;
}

/*---------------------------------USUARIOS--------------------------*/

.contenido-detalle-usuarios {
  background-color: var(--secundario);
}

.bloque-datos-usuarios {
  background-color: var(--primario);
  margin-left: 10px;
  height: auto;
}

.btn-crud {
  margin-top: 20px;
  font-size: 20px;
  width: 300px;
  height: 40px;
}

.icon-btns-crud {
  width: 30px;
  height: 30px;
}

.texto-btn-crud-dentro {
  margin-top: 5px;
  font-weight: 700;
  color: var(--blanco);
}

.btn-crud-colors-1 {
  background-color: green;
  margin-top: 80px;
}

.btn-crud-colors-2 {
  background-color: blue;
}

.btn-crud-colors-3 {
  background-color: red;
}

.texto-datos-recuadro-reporte-users {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -5px;
  margin-top: 40px;
}

.titulo-lista-usuarios {
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

/*-----------------------------------------PRODUCTOS-----------------------------------------*/

.texto-datos-recuadro-reporte-productos {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -5px;
  margin-top: 40px;
}

.titulo-lista-productos {
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

.contenido-detalle-productos {
  background-color: var(--secundario);
}

.bloque-datos-productos {
  background-color: var(--primario);
  margin-left: 10px;
  height: auto;
}

.seleccion-tipo-reporte-producto {
  margin-top: 20px;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

/*-----------------------------------------CATEGORIAS-----------------------------------------*/

.texto-datos-recuadro-reporte-categoria {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -5px;
  margin-top: 40px;
}

.titulo-lista-categoria {
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

.contenido-detalle-categoria {
  background-color: var(--secundario);
}

.bloque-datos-categoria {
  background-color: var(--primario);
  margin-left: 10px;
  height: auto;
}

.seleccion-tipo-reporte-categoria {
  margin-top: 20px;
  font-size: 20px;
  width: 200px;
  height: 40px;
}